/*We've specified the dimesions of the nav bar, and then we've instructed the nav bar to display its contents as if it were a table*/

nav {
	width: 500px;
	height: auto;
	float: right;
	border-bottom: 2px solid #1D1D1D;
	border-width: 80%;
	display: table;

/*We've then instructed the actual contents of the navbar to act as table cells - this helps to distribute the width evenly between all items/cells*/

.nav-items {
	display: table-cell;
	line-height: 70px;
	width: 150px;
	text-align: center;
}